# Editor directories
.vscode
.idea

# Python bytecode
__pycache__/ 
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/
bin/
lib/

# AI Models & Data (Large files)
models/ 
data/
*.pt
*.pth
*.h5
*.onnx

# Application Cache
.cache/

# gRPC
*pb2*.py

# Other Files
*backup.py
guardrail.py
mutation.py
sentiment.py
summary.py
test.py