# Python 캐시 및 바이트코드
__pycache__/
*.py[cod]
*$py.class

# 라이브러리 캐시
.cache/

# gRPC 자동 생성 파일
mutr_analysis_pb2.py
mutr_analysis_pb2_grpc.py

# 환경 설정 및 가상환경
.venv/
venv/
ENV/
.env

# 테스트 및 백업 파일
*test.py
*backup.py

# OS 및 에디터 설정
.DS_Store
.vscode/
.idea/