services:
  mutr-redis:
    command: redis-server --requirepass ${REDIS_PASSWORD}

  backend:
    image: ${GCP_REGION}-docker.pkg.dev/${GCP_PROJECT_ID}/${GCP_REPO_NAME}/backend:latest
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_DATA_REDIS_PASSWORD: ${REDIS_PASSWORD}
  frontend:
    image: ${GCP_REGION}-docker.pkg.dev/${GCP_PROJECT_ID}/${GCP_REPO_NAME}/frontend:latest
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/lib/letsencrypt
  ai-server:
    image: ${GCP_REGION}-docker.pkg.dev/${GCP_PROJECT_ID}/${GCP_REPO_NAME}/ai-server:latest
    environment:
      n_ctx: 1024
      n_gpu_layers: 0
      n_threads: 2
      n_batch: 128