# Editor directories
.vscode
.idea

# Gradle
.gradle/ 
build/
**/build/

# IntelliJ IDEA
*.iml
out/

# Generated Sources (QueryDSL, Annotation Processor)
generated/
**/generated/

# Java binaries
*.class
*.jar
*.war

# Caches & Temp
.cache/
tmp/
**/tmp/