spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/mutr
    username: mutr_admin
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100 # JSONB 타입 지원을 위한 설정

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE # SQL 파라미터 확인용