# Editor directories
.vscode
.idea

# Dependencies
node_modules/

# Build output
dist/
build/

# Vite & Tools cache
.vite/ 
.vite-temp/ 
.eslintcache
.prettiercache

# Testing
coverage/
__tests__

# Production files
*.common.js
*.bundle.js